h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas              
                    +navTemaItem('1', 'Instrumentos de evaluación', 'main.html#page/instrumentos_evaluacion/')
                    +navTemaItem('2', 'Momento de cierre de la formación virtual', 'main.html#page/momento_cierre_formacion_virtual/')                  
                    