.container#page-introduccion

    .header-ecored
        h1 Introducción


    .jumbotron.bg-white 
      .row.mb-5
        .col-12
          p El punto de partida para una excelente gestión en el proceso de enseñanza-aprendizaje-evaluación de la formación virtual, es que el gestor principal, es decir, el “Instructor-Tutor”, conozca todas sus funciones; las cuales están enmarcadas y relacionadas con las competencias que debe tener. 
      .row
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/bv8zTM9mZZ8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
           

         



              