.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

            
                tr
                    td SENA. (2019). Guía de orientaciones para la formación en ambientes virtuales de aprendizaje -AVA-. Aplicativo CompromISO. 
                    td Documento
                    td 
                        a(href="http://compromiso.sena.edu.co/documentos/vista/descarga.php?id=2153", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar                       