.container#tema_2

    .header-ecored
        h1 2. Momento de cierre de la formación virtual

    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema2_1
            h2 2.1 Juicios evaluativos
  
      .row.justify-content-center.align-items-center.mb-5
        .col-8.col-lg-3.mb-5
          img(src="assets/images/pages/tema_2/info_2_1_01.svg", alt="", style="with:100%")
        .col-12.col-lg        
          p Los juicios evaluativos son los que se emiten al finalizar cada resultado de aprendizaje, estos juicios en la formación SENA se emiten con letra A: Aprobado y D: No aprobado.

      
      .row.mb-5
        .col-12
          p Los juicios evaluativos son el resultado de la evaluación de cada una de las evidencias de aprendizaje entregadas por el aprendiz. Se otorga un juicio evaluativo por cada resultado de aprendizaje. Por ello es importante conocer el proceso de evaluación de las diferentes evidencias programadas. A continuación, se presenta como realizar dicho procedimiento en el LMS SENA. 

      .row
        .col-12.mb-3
          h3 Evaluar evidencias de aprendizaje
        .col-12.col-lg
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/PL82NTdO-58', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 

      .hr-divider.mb-5

      .row
        .col-12.mb-3
          h3 Evaluar foro 
        .col-12.col-lg
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/GME1Dz5kIjA', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 

      .hr-divider.mb-5

      .row
        .col-12.mb-3
          h3 Evaluar blog
        .col-12.col-lg
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/mmbzZU9dCj4', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 

      .hr-divider.mb-5

      .row.mb-5
        .col-12.mb-3
          h3 Evaluar wiki 
        .col-12.col-lg
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/I_vIkrlShs4', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 

      .row
        .col-12.mb-5
          p El proceso para la emisión de los juicios evaluativos lo realiza el instructor en la herramienta del #[strong Centro de Calificaciones] del LMS y/o a través del sistema de SOFIA Plus. 
          p Cuando se registran los juicios evaluativos de los resultados de aprendizaje, el sistema SOFIA plus procederá a cambiar el estado del aprendiz de “en formación" a “por certificar”, esta situación no le permitirá al aprendiz ingresar nuevamente al programa de formación. En este sentido, se recomienda que el instructor realice el proceso de valoración por juicios evaluativos en el momento de realizar el cierre del curso. 
          p Si se realiza el proceso de evaluación -de los juicios evaluativos- en el LMS, el instructor deberá realizar un proceso de sincronización de la evaluación, entre el LMS y SOFIA Plus. A continuación se muestra el procedimiento  a seguir.
        .col-12.col-lg
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/vfxGKIn5HMo', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 

    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema2_2
            h2 2.2 Acciones al finalizar el curso

        .col-12.col-lg.mb-5
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/SRousNg-bf0', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .col-12
          p Así como se evidencian los resultados del aprendizaje alcanzados por el aprendiz, también se evidencia la efectividad del rol del instructor durante todo el proceso de ejecución de la formación virtual, en cada uno de los momentos del curso, en relación al cumplimiento de sus funciones. Esta efectividad se mide a través de una lista de chequeo cuyos resultados se dan a conocer al instructor al finalizar el curso.  

    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema2_3
            h2 2.3 Seguimiento y reportes

      .row.mb-5
        .col-12
          p Una de las principales acciones en el momento de cierre del curso es generar informes o reportes sobre las diferentes acciones realizadas durante el programa de formación, ya sea por parte del aprendiz o el instructor.  A continuación se muestra el procedimiento para esta acción.
          p Los reportes pueden generarse desde el LMS y SOFIA Plus. 

      .row
        .col-12.mb-3
          h3 En el LMS se generan reportes de acciones ejecutadas en la plataforma. 
        .col-12.col-lg.mb-5
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/klwteZkwv4A', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

      .hr-divider.mb-5

      .row
        .col-12.mb-3
          h3 En SOFIA Plus se genera el reporte de juicios evaluativos.  
        .col-12.col-lg
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/h3QxEEn-uPM', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')