.container#tema_1

    .header-ecored
        h1 1. Instrumentos de evaluación

    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema1_1
            h2 1.1 Evaluación en formación virtual
      
      .row.mb-5
        .col-12.mb-5
          p La evaluación en la formación virtual se realiza durante todo el proceso formativo, ya que se evalúa de manera procesual el alcance de los conocimientos y habilidades en cada resultado de aprendizaje a medida que se avanza en el desarrollo de la formación.
          p La evaluación es el fundamento para determinar el nivel de competencia alcanzado y permite la toma de decisiones con base en la información recolectada a través de los instrumentos de evaluación.
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/T9TN7t44p3U', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')  

      .hr-divider.mb-5  

      .row.mb-5        
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='media/infografias_animadas/info_1_1_01/index.html', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 

      .hr-divider.mb-5  

      .row      
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              p Instrumentos de evaluación  

      .row.mb-5
        .col-12
          p Los instrumentos de evaluación son las diferentes herramientas utilizadas por el instructor - tutor para recoger información clara, concreta y eficaz de cada una de las #[strong evidencias de aprendizaje,] definidas en la #[strong guía de aprendizaje] del proceso formativo. 
          p Permite medir el nivel de apropiación de los conocimientos que los aprendices adquieren durante el proceso de aprendizaje y el desarrollo de las diferentes competencias.
          p Los instrumentos de evaluación utilizados en el proceso formativo dependen del tipo de evidencia que se esté trabajando. Algunos ejemplos a continuación:

      .row.mb-5
        .col-12
          .custom-table
            .row
              .col-6
                .custom-table__title
                  p Evidencia
              .col-6
                .custom-table__title.ct-color
                  p Instrumento
            .row
              .col-6
                .custom-table__item.oddColor.d-flex.flex-column.justify-content-center.align-item.center
                  p.text-center.mb-0 Conocimiento
              .col-6
                .custom-table__item.oddColor
                  p Cuestionario.
                  p.mb-0 Rúbrica de evaluación.
            .row
              .col-6
                .custom-table__item.d-flex.flex-column.justify-content-center.align-item.center
                  p.text-center.mb-0 Desempeño
              .col-6
                .custom-table__item
                  p Lista de chequeo.
                  p.mb-0 Rúbrica de evaluación (Ejemplo rúbrica TIGRE).
            .row
              .col-6
                .custom-table__item.oddColor.d-flex.flex-column.justify-content-center.align-item.center
                  p.text-center.mb-0 Producto
              .col-6
                .custom-table__item.oddColor
                  p Lista de verificación.
                  p.mb-0 Rúbrica de evaluación.

      .row.mb-5
        .col-12.mb-3
          p Los instrumentos de evaluación deben brindar al aprendiz seguridad y confianza en la valoración de las evidencias presentadas.
        .col-12
          p A continuación podrá conocer el procedimiento para la creación de algunos instrumentos de evaluación en la plataforma LMS SENA. 

      .hr-divider.mb-5

      .row.mb-5
        .col-12.mb-5
          h3 Crear cuestionario - evidencia de evaluación 
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/4oDeui3bf2Q', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')  

      .hr-divider.mb-5

      .row
        .col-12.mb-5
          h3 Crear rúbrica de evaluación 
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/dJxnGa8tUZQ', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')  